* {
    font-family: 'Courier New', Courier, monospace;
}

nb-layout-header {
    display: flex;
}

nb-card-body{
  width: 100vw;
}

.create {
    display: flex;
    width: 350px;
  right: 0;

}

.purchase-table{
  width: 100vw;
}
