<nb-layout>
    <nb-layout-header fixed class="title-header">
      <h1>JAWNHUB</h1>
    </nb-layout-header>

    <nb-layout-column class="menu">Test</nb-layout-column>
  
    <nb-layout-column class >
      <nav>
      <a routerLink ="/display" routerLinkActive = "active">Jawns </a>
      <a routerLink ="/transactions" routerLinkActive = "active"> Previous cops</a>
      <h2>About</h2>
      <p>Aptly named Jawnhub, a personal project and place to track my "Jawns". </p>
      <div class="definition">
      <h4>"Jawn"</h4>
      <p>Philly slang for a person, place, or thing </p>
      </div>
      <p>Rather than keep all of this stuff tucked away in some boring old spreadsheet, why not have some fun and build a little application to make things pretty.</p>
      </nav>
    </nb-layout-column>

    
  
    <nb-layout-footer fixed>
    JAWNHUB 2022
    </nb-layout-footer>
  
  </nb-layout>
  