<nb-layout>
  <nb-layout-header>
    <a routerLink="/dashboard" routerLinkActive= "active">Home</a>
    <h1>Transaction History</h1>
  </nb-layout-header>
 <nb-layout-column>

<nb-card class="new-entry">
 <button nbButton status="primary" class="create" (click)="newEntry()">CREATE ENTRY</button>
</nb-card>
   <nb-card class="article-card">
    <nb-card-header>
      Item
    </nb-card-header>
    <nb-card-body>
      Description
    </nb-card-body>
    <nb-card-footer>
      Cost
    </nb-card-footer>
   </nb-card>
 </nb-layout-column>

</nb-layout>