* {
    font-family: 'Courier New', Courier, monospace;
}

a :active {
    background-color: rgb(10, 241, 241);
}

.header{
  display: block;
  width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: x-large;
}

.navigation a{
  margin: 1rem;
}

.definition {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: italic;
}
