<nb-layout>
    <nb-layout-header fixed class="header">
      <div class="title">
        <h1>JAWNHUB</h1>
      </div>
      <div class="navigation">
        <nav>
          <a routerLink ="/wardrobe" routerLinkActive = "active">Wardrobe</a>
          <a routerLink ="/purchases" routerLinkActive = "active">Purchases</a>
        </nav>
      </div>
    </nb-layout-header>

    <nb-layout-column class >

      <h2>About</h2>
      <p>
        As an avid clothes enthusiast who like many has spent too much money on his hobby over the years, I recently started tracking my incomings and outgoings out of curiosity.
        This spurned the Jawnhub idea, a project I could use to document such things and could be expanded as a hub of information. Think Letterboxd but for likeminded folk who are into how they dress.
      </p>
      <div class="definition">
      <h4>"Jawn"</h4>
      <p>Philly slang for a person, place, or thing </p>
      </div>
      <p>Rather than keep all of this stuff tucked away in some boring old spreadsheet, why not have some fun and build a little application to make things pretty.</p>

    </nb-layout-column>



    <nb-layout-footer fixed>
    JAWNHUB 2022
    </nb-layout-footer>

  </nb-layout>
